
Creating_customer_segments_with_Arvazo/Udacity_CUSTOMERS_Subset.csv
Creating_customer_segments_with_Arvazo/Udacity_AZDIAS_Subset.csv
Creating_customer_segments_with_Arvazo/AZDIAS_Feature_Summary.csv
